<div id="person-info">
  <% blogger = find_blogger %>
  <%= image_tag blogger.img_url, class: 'avatar'%>
  <ul class="person-links">
    <li><a target="_blank" href="http://jianshu.io/users/2n2RXH/">简书</a></li>
    <li><a target="_blank" href="http://weibo.com/zeroxiobai" class="weibo">微博</a></li>
  </ul>
  <div class="person-text-info">
    <h2><%= blogger.name %></h2>
    <p><%= blogger.signature %></p>
  </div>
</div>