<div class="skin-box">
  <%= image_tag skin.home_image %>
  <div class="btns">
    <%= link_to "选择", skin_path(skin), class: "btn btn-success" %>
    <%= link_to "删除", skin_path(skin),
                       method: :delete,
                       data: { confirm: "你确定要删除?" },
                       class: "btn btn-danger" %>
  </div>
</div>